<%- include("partials/header.ejs")%>

            <!-- Page content-->
            <div class="container mt-5">
                
                <h1>MUST - Muller Software & Technology</h1>


                <p>
                    Get started today. 

                </p>
               
            </div>

<%- include("partials/footer.ejs")%>  