<%- include("partials/header.ejs")%>

<h1>Useful Links</h1>

<ul>
    <li>
        <a href="https://nodejs.org/en">Node.js installation</a>
    </li>
    <li>
        <a href="https://nodejs.org/docs/latest-v20.x/api/index.html">Node.JS documentation</a>
    </li>
    <li>
        <a href="https://www.npmjs.com/">NPM Library</a>
    </li>
    <li>
        <a href="https://expressjs.com/">Express JS</a>
    </li>
    <li>
        <a href="https://dev.to/sylwiavargas/how-to-properly-close-a-port-2p36">How to properly close a port</a>
    </li>
    <li>
        <a href="https://www.postman.com/">POST Man</a>
    </li>
    <li>
        <a href="https://github.com/github/gitignore">Git Ignore templates</a>
    </li>
    <li>
        <a href=""></a>
    </li>
    <li>
        <a href=""></a>
    </li>
</ul>
<%- include("partials/footer.ejs")%>  