<%- include("partials/header.ejs")%>

            <!-- Page content-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8">
                        <article>
                            <header class="mb-4">
                                <h1 class="fw-bolder mb-1">Resource Corner</h1>
                            </header>
                            <section class="mb-5">
                                <p class="fs-5 mb-4">
                                    Please note this section in intended for internal use by people that work on MUST projects.
                                </p>
                            </section>
                        </article>
                       
                    </div>
                    <!-- Side widgets-->
                    <div class="col-lg-4">
                        <!-- Side widget-->
                        <div class="card mb-4">
                            <div class="card-header">Important!</div>
                            <div class="card-body">
                                Consistency between projects reduces the development time. 
                            </div>
                        </div>
                        
                        <!-- Categories widget-->
                        <div class="card mb-4">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="/htmlhelp/html_overview">HTML</a></li>
                                            <li><a href="/links">Useful Links</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="/nodejs/node_guidelines">Node.JS</a></li>
                                            <li><a href="/git/git_start">GIT</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

<%- include("partials/footer.ejs")%>  