
<%- include("../partials/header.ejs")%>
<h1>Node App Guidelines</h1>


<h2>Setup</h2>
Make sure to set "type" to "module" in your Node.js package.json file

<h2>Node folder structure</h2>


<h2>Default NPM packages</h2>

<ul>
    <li>express - to make it work</li>
    <li>ejs - for templates</li>
    <li>morgan - request for logs</li>
    <li>body-parser - for reading form data</li>
</ul>



<%- include("../partials/footer.ejs")%>  












